* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* NAVIGATION */
.home-banner {
  position: relative;
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.home-banner header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 18px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 28px;
  font-weight: 600;
  color: #000;
  padding: 15px;
  border-radius: 50%;
  background: peachpuff;
}

header .navigation {
  position: relative;
  display: flex;
}

header .navigation li {
  list-style: none;
}

header .navigation li a {
  display: inline-block;
  color: #000;
  font-weight: 500px;
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
}
